@import "./variables";

html {
    font-family: 'Times New Roman', Times, serif;
    color: $secondary-color;
}

body {
    margin: 0;
    padding: 0;
    border: $border-width solid $secondary-color;
}

header {
    height: calc(100vh - #{$border-doubleWidth} - #{$nav-fullHeight} - #{$nav-halfHeight} - #{$border-width});
    background-color: $tertiary-color;
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        ul{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                background-color: $primary-color;
                height: $nav-height;
                padding-top: $nav-padding;
                padding-bottom: $nav-padding;
                border-bottom: $border-width solid $secondary-color;
                font-size: $nav-fontSize;
                h1 {
                    margin: 0;
                    font-size: calc(#{$nav-fontSize} + 1vmin);
                }
                span, a:hover {
                    border-bottom: $selected-underlineHeight solid $tertiary-color;
                }
                a {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 810px) {
    header nav ul li {
        font-size: calc(#{$nav-fontSize} - 1vmin);
        h1 {
            font-size: $nav-fontSize;
        }
    }
}
.navTransparentColumn {
    grid-column: 1 / 4;
    background-color: transparent;
    border: none;
}

.navTriangleColumn {
    grid-column: 4;
    height: calc(#{$nav-halfHeight} + #{$border-width});
    border-bottom: $nav-halfHeight solid transparent;
    border-top: 0px solid transparent;
    border-right: calc(#{$nav-halfHeight} + #{$border-width}) solid $secondary-color;
    background-color: transparent;
    position: relative;
    right: 0;
    padding: 0;

    div {
        height: calc(#{$nav-halfHeight} + #{$border-halfWidth});
        border-bottom: calc(#{$nav-halfHeight} - #{$border-halfWidth}) solid transparent;
        border-top: 0px solid transparent;
        border-right: $nav-halfHeight solid $primary-color;
        background-color: transparent;
        position: relative;
        right: calc(0px - #{$nav-halfHeight} - #{$border-width});
        padding: 0;
    }
}

.navTitleColumn {
    grid-column: 5 / 8;
}

.navHomeColumn {
    grid-column: 8 / 11;
    text-align: right;
}

.navGalleryColumn {
    grid-column: 11;
    text-align: center;
}

.navVideoColumn {
    grid-column: 12;
    text-align: left;
}

.mobileMenuColumn {
    display: none;
}

@media (max-width: 500px) {
    .navTransparentColumn{
        grid-column: 1 / 10;
    }

    .navTriangleColumn {
        grid-column: 10;
    }

    .navTitleColumn {
        display: none;
    }

    .navHomeColumn {
        display: none;
    }
    
    .navGalleryColumn {
        display: none;
    }
    
    .navVideoColumn {
        display: none;
    }
    .mobileMenuColumn {
        display: list-item;
        grid-column: 11 / 13;
        div {
            width: 35px;
            height: 5px;
            margin: 0px 6px 6px;
            background-color: $secondary-color;
        }
    }
}


main {
    background-color: $primary-color;
}

footer {
    text-align: center;
    background-color: $primary-color;
    height: $nav-fullHeight;
    font-size: $nav-fontSize;
    padding-top: $nav-halfHeight;
}

.borderBottom {
    border-bottom: $border-width solid $secondary-color;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
}

/*body {
    font-family: "Lato", sans-serif;
  }*/
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
  }
  
  .sidenav a, .sidenav span {
    text-decoration: none;
    font-size: 25px;
    color: $secondary-color;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav span, .sidenav a:hover {
    border-bottom: $selected-underlineHeight solid $tertiary-color;
    padding: 8px 8px 0px 0px;
    margin-left: 32px;
    width: fit-content;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }