body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    background-image: url("../images/StoryboardFotoEditiert_AndrinSchaerli.png");
    background-color: #F2CA84;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
    color: white;
    background-color: #162a45;
    padding-top: 1em;
    padding-bottom: 1em;
}

header nav ul li h1 {
    margin: 0;
}

.navTransparentColumn {
    grid-column: 1 / 7;
    background-color: transparent;
}

.navTitleColumn {
    grid-column: 7 / 10;
}

.navHomeColumn {
    grid-column: 10;
}

.navGalleryColumn {
    grid-column: 11;
}

.navVideoColumn {
    grid-column: 12;
}