$primary-color: #162a45;
$secondary-color: #ffffff;
$tertiary-color: #F2CA84;
$border-width: 2px;

body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    background-image: url("../images/StoryboardFotoEditiert_AndrinSchaerli.png");
    background-color: $tertiary-color;
    background-repeat: no-repeat;
    background-size: cover;    
    nav{
        ul{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                color: $secondary-color;
                background-color: $primary-color;
                padding-top: 1em;
                padding-bottom: 1em;
                border-bottom: $border-width solid $secondary-color;
                h1 {
                    margin: 0;
                }
            }
        }
    }
}

.navTransparentColumn {
    grid-column: 1 / 7;
    background-color: transparent;
    border: none;
}

.navTitleColumn {
    grid-column: 7 / 10;
    border-left: $border-width solid $secondary-color;
}

.navHomeColumn {
    grid-column: 10;
}

.navGalleryColumn {
    grid-column: 11;
}

.navVideoColumn {
    grid-column: 12;
}