$primary-color: #162a45;
$secondary-color: #ffffff;
$tertiary-color: #F2CA84;
$border-width: 0.48vh;
$nav-padding: 1.5vh;
$nav-height: 4vh;
$nav-fullHeight: $nav-height + $nav-padding + $nav-padding;
$nav-halfHeight: $nav-fullHeight / 2;
$nav-fontSize: 3vmin;
$border-halfWidth: $border-width / 2;
$border-doubleWidth: $border-width * 2;
$selected-underlineHeight: 0.69vh;